<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <app-barchart></app-barchart>
    </div>
    <div class="col-6">
      <app-linechart></app-linechart>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <app-piechart></app-piechart>
    </div>
    <div class="col-6">
      <app-donutchart></app-donutchart>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <app-polarareachart></app-polarareachart>
    </div>
    <div class="col-6">
      <app-radarchart></app-radarchart>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <app-bubblechart></app-bubblechart>
    </div>
    <div class="col-6">
      <app-scatterplot></app-scatterplot>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <app-combochart></app-combochart>
    </div>
    <div class="col-6">
      <app-horizontalbar></app-horizontalbar>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <app-stackedbar></app-stackedbar>
    </div>
    <div class="col-6">
      <app-stepped-line></app-stepped-line>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <app-line-styles></app-line-styles>
    </div>
    <div class="col-6">
      <app-stepped-line></app-stepped-line>
    </div>
  </div>
</div>

